extends layouts/main

block content
  form(action=routes.upload, method="post").upload

    input(type="text", placeholder="Title" name="title")
    textarea(placeholder="D escription" name="descripton")
    input(type="submit")
    
